
.Checkout_product
{
display:flex;
margin-top: 20px;
margin-bottom: 20px;

}


/* .Checkout_basket{
   background-color:rgb(235, 138, 11);
   margin-top: 20px;
   margin-bottom:50px;
   margin-left: 200px;
} */
.checkout_image
{
    height:200px;
    width:200px;
    object-fit: contain;
}
.CheckoutProduct_info
{
    padding-left:20px;
    /* padding-bottom: 70px;
    display:flex;
    flex-direction: column; */
  
   
}
.CheckoutProduct_info.button 
{
    background: #ff9f00;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
}
.CheckoutProduct_title {
    font-size: 20px;
    font-weight: bold;

}
.checkoutproduct_rating{
    display: flex;
    margin-bottom: 10px;


}


